# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# root
# note: do check-in .vscode for a consistent dev env

# app
app/node_modules
app/.pnp
app/.pnp.js
app/coverage
app/build
app/.DS_Store
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

# api
api/node_modules
api/.env
